nuitka==2.7.16
edge-tts
pywin32
selenium
requests
websocket-client
qasync
aiogram==2.25.1
aiohttp<3.10
magic-filter==1.0.12
psutil==5.9.5
speedtest-cli
pyautogui
PyQt5
gTTS
pyttsx3
Pillow
comtypes
pycaw
opencv-python
numpy
sounddevice
soundfile
py-cpuinfo
WMI
pydub
mss
